@import "variables";

@font-face {
  font-family: 'fcd-iconFont';
  src:  url('#{$icomoon-font-path}/fcd-iconFont.eot?hh1i28');
  src:  url('#{$icomoon-font-path}/fcd-iconFont.eot?hh1i28#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/fcd-iconFont.ttf?hh1i28') format('truetype'),
    url('#{$icomoon-font-path}/fcd-iconFont.woff?hh1i28') format('woff'),
    url('#{$icomoon-font-path}/fcd-iconFont.svg?hh1i28#fcd-iconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fcd-iconFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--arrow-dot {
  &:before {
    content: $icon--arrow-dot;
  }
}
.icon--arrow-download {
  &:before {
    content: $icon--arrow-download;
  }
}
.icon--arrow-left {
  &:before {
    content: $icon--arrow-left;
  }
}
.icon--arrow-right {
  &:before {
    content: $icon--arrow-right;
  }
}
.icon--check {
  &:before {
    content: $icon--check;
  }
}
.icon--close {
  &:before {
    content: $icon--close;
  }
}
.icon--facebook {
  &:before {
    content: $icon--facebook;
  }
}
.icon--hamb {
  &:before {
    content: $icon--hamb;
  }
}
.icon--linkedin {
  &:before {
    content: $icon--linkedin;
  }
}
.icon--play-square {
  &:before {
    content: $icon--play-square;
  }
}
.icon--search {
  &:before {
    content: $icon--search;
  }
}
.icon--share-trigger {
  &:before {
    content: $icon--share-trigger;
  }
}
.icon--triangle-down {
  &:before {
    content: $icon--triangle-down;
  }
}
.icon--twitter {
  &:before {
    content: $icon--twitter;
  }
}
.icon--video-play {
  &:before {
    content: $icon--video-play;
  }
}
.icon--whatsapp {
  &:before {
    content: $icon--whatsapp;
  }
}
.icon--youtube {
  &:before {
    content: $icon--youtube;
  }
}

