$icomoon-font-path: $icomoon-font-path !default;

$icon--arrow-dot: "\e900";
$icon--arrow-download: "\e901";
$icon--arrow-left: "\e902";
$icon--arrow-right: "\e903";
$icon--check: "\e904";
$icon--close: "\e905";
$icon--facebook: "\e906";
$icon--hamb: "\e907";
$icon--linkedin: "\e908";
$icon--play-square: "\e910";
$icon--search: "\e911";
$icon--share-trigger: "\e912";
$icon--triangle-down: "\e913";
$icon--twitter: "\e914";
$icon--video-play: "\e915";
$icon--whatsapp: "\e916";
$icon--youtube: "\e919";
