///------------------------------------
// #SETTINGS
//------------------------------------
// Globaly available variables
//-------------------------
// #Z - INDEX
// Global default settings
//	 for z-index
//-------------------------

$z-layers: (
  min    : 1,
  header : 10
);
