///------------------------------------
// #SETTINGS
//------------------------------------
// Globaly available variables
//-------------------------
// #Colors
// Global default settings
//	 for colors
//-------------------------

//----- Brand Main
$brand-primary         : #1e05c9;
$brand-secondary       : #f0f0f0;

$colors                : (
  //----- Elements
  tag                  : ( //----- tag colors
    primary            : #2a69dc,
    secondary          : #ef7298,
    tertiary           : #262628,

    primary-h1         : #00fffc,
    secondary-h1       : #ffec70
  ),

  header               : ( //----- header colors
    bg-top             : #f4f4f4,
    bg-bottom          : #33343f,
    bg-bottom-content  : #130098
  ),
  footer               : ( //----- footer colors
    bg                 : #0f0077,
    links              : #fff
  ),

  h1                   : ( //----- h1 colors
    primary            : $brand-primary
  ),

  nav-header           : ( //----- nav-header colors
    trigger-bc         : $brand-primary,
    trigger-c          : #fff,
    links              : #fff,
    hover-c            : #ef7298,
    hover-bc           : #262628
  ),

  bg-mask              : ( //----- bacground-mask colors
    background         : #33343f
  ),
  bg-sections          : ( //----- background sections colors
    primary            : $brand-secondary
  ),

  b-hero               : ( //----- hero block colors
    intro              : #fff,
    intro-mob          : #000
  ),
  b-article            : ( //----- article content block colors
    text-sec           : #fff,
    tag                : $brand-primary,
    tag-line-prim      : #000,
    tag-line-sec       : #fff
  ),
  b-related            : ( //----- related block colors
    title              : $brand-primary,
    btn-prim           : #1600ab,
    btn-sec            : #fff
  ),
  b-youtubers          : ( //----- Youtubers block colors
    bg-start           : #da2724,
    bg-end             : #cb1e20,
    item-title         : #fff,
    title-colorized    : #fff
  ),
  b-download           : ( //----- Download block colors
    c                  : #3a3d74
  ),
  // Program Related
  program-related      : ( //----- program related colors
    bg                 : $brand-primary,
    bg-after           : #fff,
    title              : #fff
  ),

  c-social             : ( //----- c-social colors
    primary            : $brand-primary,
    secondary          : #fff
  ),
  c-newsletter         : ( //----- c-newsletter colors
    news-footer-bg     : #0d1f87,
    place-c            : #7781bc,
    input-c            : #fff,
    icon               : #fff
  ),
  c-search             : ( //----- c-search colors
    bg                 : transparent,
    c                  : #fff,
    c-desk             : $brand-primary,
    mask               : #130098
  ),
  c-dot                : ( //----- c-dot colors
    bc-prim            : #000,
    bc-sec             : #fff,
  ),
  c-dd                 : ( //----- c-dd / DropDown menu colors
    text               : #000,
    bg                 : #fff,
  ),
  c-media              : ( //----- media object colors
    date               : $brand-primary,
    title              : #000,
    intro              : #878787
  ),
  c-media--video       : ( //----- media object video colors
    title              : #000
  ),
  c-program            : ( //----- program object colors
    text               : #fff,
    hover-mask         : #000
  ),
  c-pagination         : ( //----- pagination colors
    bg                 : #cccccc,
    text               : $brand-primary
  ),

  slider               : ( //----- slider, some global colors
    arrows-prim        : #000,
    arrows-sec         : #fff,
    bg-items           : #e4e4e4
  ),

  partners             : ( //----- Partners, some global colors
    bg                 : #ffec70,
    logo-bg            : #fff,
    h-line             : #000,
  ),

  buttons              : ( //----- Buttons colors
    hover              : transparent,
    video-prim         : #000,
    video-sec          : #fff
  ),
  link                 : ( //----- links colors
    default            : #000
  ),
  border               : ( //----- Border colors
    primary            : brand-primary,
    secondary          : brand-primary
  ),
  error                : ( //----- Error colors
    color              : #ff0000
  ),

  //----- Pages
  // hp
  hp                   : ( //----- program category colors
    viewer-text        : #fff,
    viewer-btn-prim    : #00fffc,
    viewer-btn-sec     : #ffec70,
    viewer-btn-tert    : #ef7298,

    tag-prim-text-prim : #fff,
    tag-prim-text-sec  : #000,
    tag-prim-bc        : $brand-secondary,
    tag-prim-item-bc   : #fff,
    tag-prim-1-details : #00fffc,
    tag-prim-1-bg      : #2066e6,
    tag-prim-2-details : #338dfd,
    tag-prim-3-details : #fff,
    tag-prim-3-bg      : #57a2ff,
    tag-prim-4-details : #57c2ff,
    tag-btn-prim       : #fff,
    tag-btn-sec        : #363b75,

    tag-sec-text       : #fff,
    tag-sec-details    : #ffec70,
    tag-sec-btn        : #000,

    tag-ter-text       : #fff,

    nws-bg             : $brand-primary,
    nws-text           : #fff,
    nws-input-bg       : #1644d6,

    partners-title     : #626262,
    partners-btn-prim  : #fff,
    partners-btn-sec   : #000
  ),
  // Program Category
  program-category     : ( //----- program category colors
    text               : #000,
    text-modified      : #fff
  ),
  // Program Single
  program-single       : ( //----- program single colors
    key-text           : #fff,
    key-border-egalite : #95b4ee,
    key-border-cohesion: #f7b9cc
  ),
  // Press
  press                : ( //----- press page colors
    title              : #130098,
    logo-bg            : #fff
  ),
  // Fondation
  fondation            : ( //----- fondation page colors
    hero-title         : #fff,
    founder-c          : #fff,
    founder-bc         : $brand-primary,
    culture-c          : #fff,
    culture-bc         : #262628,
    equality-c         : $brand-primary,
    committee-helper   : #222869
  ),
  // Videos
  videos               : ( //----- Videos page colors
    text               : #fff,
    yt                 : #cd201f
  ),
  // 404
  404                  : ( //----- 404 page colors
    title              : #fff,
    search             : $brand-primary,
    icon-bg            : #f0f0f0,
    icon               : $brand-primary
  )
);

// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray       : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength      : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
// @for $soc from 1 to $buttonsLength {
// $currentButton      : nth($buttonsArray, $soc);
// &--#{$currentButton} { // color
// color               : colorFunc(socials, $currentButton);
// }
// }
// }
