///------------------------------------
//    #SETTINGS
//------------------------------------
//-------------------------
//    #Typography
//    Global default settings
//	  for typography
//-------------------------

//------FONT-FACE
@include fontFace (Pinstripe-limo, pinstripe-limo/Pinstripe-limo, normal, normal, woff woff2);
@include fontFace (Eidetic-serif, eidetic-serif/Eidetic-serif, normal, normal, woff woff2);

//------FONT FAMILY VARIBALE
$fontDefault            : Arial, sans-serif;
$font-family-primary    : 'Pinstripe-limo', $fontDefault;
$font-family-secondary  : 'Eidetic-serif', $fontDefault;
$font-family-tertiary   : 'Open Sans', $fontDefault;
$font-family-quaternary : 'Open Sans Condensed', $fontDefault;
$font-family-quinary    : 'Cormorant', $fontDefault;

//----- Font weight
$font-weight-light      : 300;
$font-weight-regular    : 400;
$font-weight-bold       : 700;

//----- Font size
$font-size-base         : 10px;

//------GLOBAL FONT SETTINGS
html {
  @include font-size-vw($font-size-base, $font-size-base, $font-size-base);
}
body {
  font-family: $font-family-secondary;
}

h1 {
  font-family: $font-family-primary;
  @include font-size(71px, 45px, 55px);
  @include line-height(59px, 33px, 60px);
  text-transform: uppercase;
  letter-spacing: -1px;
}

h1,
h2,
h3 {
  font-weight: $font-weight-regular;
}

//----- Reset default link color
// h1 a,
// h2 a,
// h3 a {
//   &:link,
//   &:visited,
//   &:active {
//     color: colorFunc(link, default);
//   }
// }
a {
  text-decoration: none;
}
p {}
