///------------------------------------
// #SETTINGS
//------------------------------------
// Globaly available variables
//-------------------------
// #Colors
// Global default settings
//	 for colors
//-------------------------

//----- Brand Main
$brand-primary        : #1e05c9;
$brand-secondary      : #f0f0f0;

$colors               : (
  //----- Elements
  tag                 : ( //----- tag colors
    primary           : #2a69dc,
    secondary         : #ef7298,
    tertiary          : #262628
  ),

  header              : ( //----- header colors
    bg-top            : #f4f4f4,
    bg-bottom         : #33343f,
    bg-bottom-content : #130098
  ),
  footer              : ( //----- footer colors
    bg                : #0f0077,
    links             : #fff
  ),

  nav-header          : ( //----- nav-header colors
    trigger-bc        : $brand-primary,
    trigger-c         : #fff,
    links             : #fff,
    hover-c           : #ef7298,
    hover-bc          : #262628
  ),

  bg-mask             : ( //----- bacground-mask colors
    background        : #33343f
  ),
  bg-sections         : ( //----- background sections colors
    primary           : $brand-secondary
  ),

  b-related           : ( //----- related block colors
    title             : $brand-primary,
    btn-prim          : #1600ab,
    btn-sec           : #fff
  ),
  b-program           : ( //----- program block colors
    text              : #000,
    text-modified     : #fff
  ),
  b-youtubers         : ( //----- bacground-mask colors
    bg-start          : #da2724,
    bg-end            : #cb1e20,
    item-title        : #fff,
    title-colorized   : #fff
  ),

  c-newsletter        : ( //----- c-newsletter colors
    news-footer-bg    : #0d1f87,
    place-c           : #7781bc,
    input-c           : #fff,
    icon              : #fff
  ),
  c-search            : ( //----- c-search colors
    bg                : transparent,
    c                 : #fff,
    c-desk            : $brand-primary,
    mask              : #130098
  ),
  c-media             : ( //----- media object colors
    date              : $brand-primary,
    title             : #000,
    intro             : #878787
  ),
  c-media--video      : ( //----- media object video colors
    title             : #000
  ),
  c-program           : ( //----- program object colors
    text              : #fff,
    hover-mask        : #000
  ),

  slider              : ( //----- slider, some global colors
    arrows            : #000,
    bg-items          : #e4e4e4
  ),

  partners            : ( //----- Partners, some global colors
    bg                : #ffec70
  ),

  buttons             : ( //----- Buttons colors
    hover             : transparent,
    video-prim        : #000,
    video-sec         : #fff
  ),
  link                : ( //----- links colors
    default           : #000
  ),
  border              : ( //----- Border colors
    primary           : brand-primary,
    secondary         : brand-primary
  ),
  error               : ( //----- Error colors
    color             : #ff0000
  )
);

// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray      : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength     : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
// @for $soc from 1 to $buttonsLength {
// $currentButton     : nth($buttonsArray, $soc);
// &--#{$currentButton} { // color
// color              : colorFunc(socials, $currentButton);
// }
// }
// }
