///------------------------------------
//    #SETTINGS
//------------------------------------

// Globaly available variables





//-------------------------
//    #Paths
//    Global default settings
//	  for paths
//-------------------------



$fontBaseUrl   : "http://static1.webedia.fr/fonts/";
// $localFontBase : "/_common/fonts";
$localFontBase : "/assets/fonts/";
$icomoon-font-path: "/assets/fonts/svg-font";
// $icomoon-font-path: "/_common/fonts/svg-fonts";
$imgBaseUrl    : "/_common/images";
