//----- Navigation / style only for header nav
.c-nav-header {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5.8rem;
  @include breakpoint(tablet) {
    margin-bottom: 13.8rem;
  }
  &__items {}
  &__item {
    margin-bottom: 1.5rem;
    @include breakpoint(tablet) {
      margin-bottom: 1.1rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 1.8rem;
    }
  }
  &__link {
    font-family: $font-family-primary;
    text-transform: uppercase;
    display: block;
    padding: 3.6rem 16.5%;
    @include font-size(36.1px, 27px, 50px);
    color: colorFunc(nav-header, links);
    cursor: pointer;
    &:hover {
      color: colorFunc(nav-header, hover-c);
      background-color: colorFunc(nav-header, hover-bc);
    }
    @include breakpoint(tablet) {
      padding: 1.7rem 6.8%;
      &:hover {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }
    @include breakpoint(desktop) {
      padding: 0.7rem 11.5%;
      &:hover {
        padding-top: 6.5rem;
        padding-bottom: 6.5rem;
      }
    }
  }
}
