//----- Global style for some icons
.icon {
  &--arrow {
    &-slider {
      @include absolute(center-vertical);
      @include font-size(70px, 50px, 50px);
      cursor: pointer;
      z-index: z(min);
    }
  }
  &--video-play {
    @include absolute(center);
    @include font-size(80px, 50px, 80px);
    color: colorFunc(tag, secondary);
  }
}
