//----- Global style for some icons
.icon {
  &--arrow {
    &-slider {
      @include absolute(center-vertical);
      @include font-size(70px, 50px, 50px);
      cursor: pointer;
      z-index: z(min);
    }
  }
  &--yt-play {
    @include absolute(center);
    @include font-size(80px, 50px, 80px);
    color: colorFunc(videos, yt);

    // not transparent option
    &:after {
      content: '';
      width: 50%;
      height: 50%;
      background: white;
      @include absolute(center);
      z-index: z(min) - 2;
    }
  }
}
