//----- Buttons
.c-btn  {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  -webkit-appearance: none;

  font-family: $font-family-tertiary;
  font-weight: $font-weight-bold;
  @include font-size(10px, 10px, 21.7px);
  @include line-height(15px, 14px, 25px);
  text-transform: uppercase;
  letter-spacing: 0.16rem;
  position: relative;
  z-index: z(min) + 1;
  @include vendor-prefixes(transition, all .3s);
  @include vendor-prefixes(border-radius, 1px);
  width: 31.3rem;
  height: 7.8rem;
  // @include breakpoint(phone) {
    // padding-left: 9%;
    // padding-right: 9%;
  // }
  // @include breakpoint(overPhone) {
  //   padding-left: .5rem;
  //   padding-right: .5rem;
  // }
  @include breakpoint(tablet) {
    width: 14.4rem;
    height: 3.6rem;
  }
  @include breakpoint(desktop) {
    width: 18.2rem;
    height: 4.5rem;
  }

  &:hover {
    background-color: colorFunc(buttons, hover);
  }

  span {
    @include absolute(center);
    width: 75%;
    @include breakpoint(overPhone) {
      width: 95%;
    }
  }

  // Button on video page
  &--video {
    display: block;
    margin: 0 auto;
    background-color: colorFunc(buttons, video-prim);
    color: colorFunc(buttons, video-sec);
    margin-bottom: 7rem;
    @include breakpoint(overPhone) {
      margin-bottom: 5rem;
    }
    &:hover {
      color: colorFunc(buttons, video-prim);
      border-color: colorFunc(buttons, video-prim);
      background-color: colorFunc(buttons, video-sec);
    }
  }

}
