//----- HP Partners Block
.hp-partners {
  background-color: colorFunc(partners, bg);
  text-align: center;
  padding: 9.5rem 0 10rem;
  @include breakpoint(tablet) {
    padding: 7.5rem 0 8rem;
  }
  @include breakpoint(desktop) {
    padding: 11rem 0 6rem;
  }

  &__body {}

  &__subtitle {
    @include font-size(24px, 24px, 35px);
    @include line-height(24px, 24px, 35px);
    font-weight: $font-weight-regular;
    margin-bottom: 6.5rem;
    @include breakpoint(phone) {
      padding: 0 18%;
    }
    @include breakpoint(tablet) {
      margin-bottom: 1.1rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: .7rem;
    }
  }
  &__title {
    @include font-size(36px, 36px, 45px);
    @include line-height(37px, 37px, 55px);
    font-weight: $font-weight-regular;
    color: colorFunc(hp, partners-title);
    letter-spacing: -0.3px;
    margin-bottom: 7rem;
    @include breakpoint(tablet) {
      margin-bottom: 4.5rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 4rem;
      padding: 0 10%;
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    color: colorFunc(hp, partners-btn-sec);
    background-color: colorFunc(hp, partners-btn-prim);
    &:hover {
      color: colorFunc(partners, bg);
      background-color: colorFunc(hp, partners-btn-sec);
    }
  }
}
