//----- Article Content Block
// Pages: Article, Fondation, Program, Partner Single, Video Single, Static
.b-article {
  position: relative;

  &__title {
    text-align: center;
    color: colorFunc(h1, primary);
    margin-bottom: 2rem;
    @include breakpoint(tablet) {
      margin-bottom: 5rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 3.8rem;
    }
  }
  &__social {
    @include breakpoint(overPhone) {
      float: left;
    }
    @include breakpoint(tablet) {
      width: cp(109px, 659px);
      padding-top: 1rem;
      padding-left: 3rem;
    }
    @include breakpoint(desktop) {
      width: cp(150px, 1050px);
      padding-top: 1rem;
      padding-left: 3rem;
    }
  }
  &__content {
    @include breakpoint(overPhone) {
      float: right;
    }
    @include breakpoint(tablet) {
      width: cp(550px, 659px);
    }
    @include breakpoint(desktop) {
      width: cp(900px, 1050px);
    }

    p {
      @include font-size(20px, 23px, 38px);
      @include line-height(38px, 38px, 68px);
      margin-bottom: 6.8rem;
      @include breakpoint(overPhone) {
        margin-bottom: 3.8rem;
      }
    }
  }
  &__video {
    margin-bottom: 6rem;
    @include breakpoint(overPhone) {
      margin-bottom: 4.25rem;
    }
    &--patchwork {
      width: 49.5%;
      float: left;
      &:first-child {
        margin-right: 1%;
      }
    }
    &__title {
      font-weight: $font-weight-bold;
      @include font-size(14px, 17px, 27px);
      @include line-height(19px, 23px, 33px);
      text-align: center;
      padding: 0 6%;
      margin-top: 2rem;
    }
  }

}
