//----- Article Content Block
// Pages: Article, Fondation, Program, Partner Single, Video Single, Static
.b-article {
  position: relative;

  &__head {
    text-align: center;
  }
  &__date {
    font-family: $font-family-quinary;
    @include font-size(24px, 18px, 28px);
    @include breakpoint(phone) {
      margin-bottom: 1.5rem;
    }
    @include breakpoint(tablet) {
      margin-bottom: 2.7rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 4.3rem;
    }
  }
  &__title {
    text-align: center;
    color: colorFunc(h1, primary);
    margin-bottom: 2rem;
    @include breakpoint(tablet) {
      margin-bottom: 5rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 3.8rem;
    }
  }
  h1 {
    @include breakpoint(desktop) {
      line-height: 6.5rem;
    }
  }
  &__intro {
    @include font-size(27px, 27px, 45px);
    @include line-height(35px, 42px, 65px);
    margin-bottom: 4rem;
    @include breakpoint(desktop) {
      margin-bottom: 3.5rem;
    }
  }
  &__social {
    @include breakpoint(overPhone) {
      float: left;
    }
    @include breakpoint(tablet) {
      width: cp(109px, 659px);
      padding-top: 1rem;
      padding-left: 3rem;
    }
    @include breakpoint(desktop) {
      width: cp(150px, 1050px);
      padding-top: 1rem;
      padding-left: 3rem;
    }
  }
  &__content {

    p {
      @include font-size(20px, 23px, 38px);
      @include line-height(28px, 38px, 68px);
      margin-bottom: 6.8rem;
      @include breakpoint(overPhone) {
        margin-bottom: 3.8rem;
      }
    }
  }
  &__video {
    margin-bottom: 6rem;
    @include breakpoint(overPhone) {
      margin-bottom: 4.25rem;
    }
    &--patchwork {
      float: left;
      @include breakpoint(phone) {
        width: 49%;
      }
      @include breakpoint(overPhone) {
        width: 49.75%;
      }
      &:first-child {
        @include breakpoint(phone) {
          margin-right: 2%;
        }
        @include breakpoint(overPhone) {
          margin-right: .5%;
        }
      }
    }
    &__title {
      font-family: $font-family-tertiary;
      font-weight: $font-weight-bold;
      @include font-size(14px, 17px, 27px);
      @include line-height(19px, 23px, 33px);
      display: block;
      text-align: center;
      padding: 0 6%;
      margin-top: 2rem;
    }
  }
  &__tags {
    display: inline-block;
    width: 100%;
    margin-bottom: 8rem;
    @include breakpoint(tablet) {
      margin-bottom: 6.5rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 5.5rem;
    }

    &__label {
      @include font-size(25px, 20px, 27px);
      width: 20%;
      float: left;
      @include breakpoint(tablet) {
        width: 17%;
      }
      @include breakpoint(desktop) {
        width: 13%;
      }
    }
    &__wrap {
      width: 80%;
      float: left;
      margin-top: .5rem;
      @include breakpoint(tablet) {
        width: 83%;
      }
      @include breakpoint(desktop) {
        width: 87%;
      }
    }
    &__item {
      font-family: $font-family-tertiary;
      font-weight: $font-weight-bold;
      @include font-size(15px, 15px, 22px);
      position: relative;
      float: left;
      @include breakpoint(phone) {
        margin-bottom: 1.5rem;
        &:nth-child(2n+1) {
          clear: both;
        }
        &:nth-child(odd) {
          padding-right: 5rem;
        }
        &:nth-child(even) {
          padding-left: 5rem;
          &:after {
            display: none;
          }
        }
      }
      @include breakpoint(overPhone) {
        margin-bottom: 2rem;
        padding: 0 1.5rem;
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 80%;
      }
      &:last-of-type {
        &:after {
          display: none;
        }
      }
    }
  }
}
