//----- Hero Block
// Pages: Program, Thematic, Partner single, Article, Fondation
.b-hero  {
  position: relative;

  &__body {
    position: relative;
  }

  &__media {}
  &__image {
    width: 100%;
  }

  &__content {
    text-align: center;

    &-wrap {
      width: 100%;

      &--center {
        @include absolute(center);

        &--modified {
          position: absolute;
          left: 0;
          @include breakpoint(phone) {
            @include absolute(center);
          }
          @include breakpoint(tablet) {
            top: 6.5rem;
          }
          @include breakpoint(desktop) {
            top: 34.4%;
          }

          .b-hero__intro {
            @include invisible(phone);
          }
        }
      }
      &--phone {
        display: inline-block;
        background-color: colorFunc(bg-sections, primary);
        @include invisible(overPhone);
        padding-top: 1rem;
      }

      &.b-hero__content-wrap--center {
        @include breakpoint(overPhone) {
          @include absolute(center);
        }
      }
    }
  }
  &__title {}
  &__intro {
    @include font-size(24px, 22px, 40px);
    @include line-height(31px, 31px, 67px);
    letter-spacing: -.5px;
    margin-top: 1.1rem;
    @include breakpoint(phone) {
      font-weight: $font-weight-bold;
      color: colorFunc(b-hero, intro-mob);
    }
    @include breakpoint(overPhone) {
      color: colorFunc(b-hero, intro);
    }
    @include breakpoint(tablet) {
      padding: 0 5%;
    }
    @include breakpoint(desktop) {
      padding: 0 20%;
    }
  }

  .icon--arrow-slider {
    color: colorFunc(slider, arrows-sec);
    &.icon--arrow-left {
      left: 2.5rem;
      @include breakpoint(desktop) {
        left: 12.5rem;
      }
    }
    &.icon--arrow-right {
      right: 2.5rem;
      @include breakpoint(desktop) {
        right: 12.5rem;
      }
    }
  }
}
