//----- Youtubers Block
// Pages: Je'm oriente, Video single
.b-youtubers {
  overflow: hidden;
  // background-color: colorFunc(b-youtubers, bg-end);
  background: colorFunc(b-youtubers, bg-start); /* Old browsers */
  background: -moz-linear-gradient(top, colorFunc(b-youtubers, bg-start) 0%, colorFunc(b-youtubers, bg-end) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, colorFunc(b-youtubers, bg-start) 0%,colorFunc(b-youtubers, bg-end) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, colorFunc(b-youtubers, bg-start) 0%,colorFunc(b-youtubers, bg-end) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  position: relative;
  padding-top: 6rem;
  margin-bottom: 1rem;
  @include breakpoint(tablet) {
    padding-top: 5rem;
  }
  @include breakpoint(desktop) {
    padding-top: 4.5rem;
  }

  &__wrap {}
  &__body {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 0 25%;
    background-image: url(#{$imgBaseUrl}/youtubers-play-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    @include breakpoint(phone) {
      background-size: 63%;
      background-position: left 68%;;
    }
    @include breakpoint(tablet) {
      background-size: 42%;
      background-position: 2% center;
    }
    @include breakpoint(overPhone) {
      padding: 0 33.3%;
    }
    @include breakpoint(desktop) {
      background-size: 37%;
    }
  }

  &__title {
    font-family: $font-family-tertiary;
    margin-bottom: 5.4rem;
    @include breakpoint(tablet) {
      text-align: left;
      margin-bottom: 3.4rem;
    }

    // // This is like placeholder
    // // Same style for youtubers title and title in background with rotation
    // // Difference: font-size
    &--unique {
      &--small {
        font-weight: $font-weight-regular;
        display: block;
        position: relative;
      }
      &--big {
        font-family: $font-family-quaternary;
        font-weight: $font-weight-bold;
        display: block;
      }
    }
    &--small {
      @extend .b-youtubers__title--unique--small;
      @include font-size(37px, 24.3px, 32.1px);
      @include line-height(28px, 18.4px, 24.3px);

      &--first {
        left: -6.5rem;
        bottom: -0.4rem;
        @include breakpoint(tablet) {
          left: 1.9rem;
          bottom: 0rem;
        }
        @include breakpoint(desktop) {
          left: -7.3rem;
        }
      }
      &--second {
        top: 1rem;
        left: 2.6rem;
        @include breakpoint(tablet) {
          top: 0.6rem;
          left: 4rem;
        }
        @include breakpoint(desktop) {
          left: 3.2rem;
        }
      }
    }
    &--big {
      @extend .b-youtubers__title--unique--big;
      @include font-size(60px, 39.4px, 52px);
      @include line-height(37px, 24.1px, 32px);
    }
    &__colorized {
      color: colorFunc(b-youtubers, title-colorized);
    }
  }

  &__item {

    &__media {
      margin-bottom: 1.9rem;
      @include breakpoint(tablet) {
        margin-bottom: 1.3rem;
      }
      @include breakpoint(desktop) {
        margin-bottom: 4rem;
      }
    }
    &__image {}
    &__content {
      margin-bottom: 7.6rem;
      padding: 0 3%;
      @include breakpoint(tablet) {
        margin-bottom: 5rem;
      }
      @include breakpoint(desktop) {
        margin-bottom: 4.6rem;
      }
    }
    &__title {
      font-family: $font-family-tertiary;
      font-weight: $font-weight-light;
      @include font-size(31px, 18px, 23px);
      @include line-height(31px, 18px, 30px);
      color: colorFunc(b-youtubers, item-title);
      text-align: center;
      a {
        color: colorFunc(b-youtubers, item-title);
      }
    }
  }

  &__rotated {
    font-family: $font-family-tertiary;
    max-width: 14rem;
    right: 2.5rem;
    bottom: 10rem;
    @include breakpoint(tablet) {
      right: 0;
      bottom: 4.2rem;
    }
    @include breakpoint(desktop) {
      right: 8rem;
      bottom: 12.5rem;
    }

    &__title {

      &--small {
        @extend .b-youtubers__title--unique--small;
        @include font-size(55.8px, 36px, 48.9px);
        @include line-height(42.2px, 27.7px, 37.6px);

        &--first {
          left: 4rem;
          @include breakpoint(tablet) {
            left: 2.9rem;
          }
          @include breakpoint(desktop) {
            left: 5rem;
          }
        }
        &--second {
          left: 8rem;
          bottom: -1.4rem;
          @include breakpoint(tablet) {
            left: 6rem;
          }
          @include breakpoint(desktop) {
            left: 9rem;
          }
        }
      }
      &--big {
        @extend .b-youtubers__title--unique--big;
        @include font-size(90.4px, 59px, 80.1px);
        @include line-height(55.4px, 36.4px, 49.5px);
      }
    }
  }
}
