//----- Media list & media object
// Pages: HomePage, Program, Partners single, Livenews/Tag/SHP, Article, Fondation, Search
.c-media {
  overflow: hidden;
  float: left;
  width: percentage(1/2);
  margin-bottom: 3rem;
  outline: none;
  cursor: pointer;
  @include breakpoint(overPhone) {
    width: percentage(1/4);
    margin-bottom: 0;
  }

  // Wrap around c-media items
  &-list {
    overflow: hidden;
    margin-bottom: 3rem;
    @include breakpoint(desktop) {
      margin-bottom: 3.9rem;
    }
  }

  &__media {
    margin-bottom: 2.7rem;
    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }
    @include breakpoint(desktop) {
      margin-bottom: 1.7rem;
    }
  }
  &__image {}

  &__content {
    padding: 0 9.5%;
    @include breakpoint(tablet) {
      padding: 0 6%;
    }
    @include breakpoint(desktop) {
      padding: 0 3%;
    }
  }
  &__date {
    font-family: $font-family-tertiary;
    @include font-size(12px, 12px, 20px);
    color: colorFunc(c-media, date);
    margin-bottom: 1.4rem;
    @include breakpoint(overPhone) {
      margin-bottom: .9rem;
    }
  }
  &__title {
    @include font-size(24px, 24px, 30px);
    @include line-height(25px, 28px, 35px);
    font-weight: $font-weight-regular;
    margin-bottom: 1.2rem;
    color: colorFunc(c-media, title);
    a {
      color: colorFunc(c-media, title);
    }
  }
  &__intro {
    font-family: $font-family-tertiary;
    @include font-size(12px, 12px, 12px);
    @include line-height(17px, 17px, 17px);
    color: colorFunc(c-media, intro);
    @include invisible(toDesktop);
  }
}
